<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>영화 상세</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<h1 th:text="${post.title}">제목</h1>
<hr>

<img th:if="${post.imageUrl}" th:src="${post.imageUrl}" alt="포스터" class="detail-img">

<p>
  작성자: <span th:text="${post.author != null ? post.author.username : '알 수 없음'}"></span>
</p>
<p th:text="${post.content}">내용</p>

<p th:if="${error}" style="color:red" th:text="${error}"></p>

<a th:href="@{/board}" class="button-link">목록</a>
<a th:href="@{/board/{id}/edit(id=${post.id})}" class="button-link">수정</a>

<form th:action="@{/board/{id}/delete(id=${post.id})}" method="post" style="display:inline">
  <button type="submit">삭제</button>
</form>
</body>
</html>
